#directory {
    height: 100px;
    width: 400px;
    margin: auto;
    padding: 20px 30px;
    font-family: Arial;
    font-weight: normal;
    font-size:20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;

}

#main{
    margin: auto;
    width: 450px;
    padding: 10px;
}

#search{
    width:400px;
    height: 30px;
    margin: auto 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    border-radius: 3px;
}

.artist {
    width:350px;
    height: 80px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    position: relative;
}

.artist:hover {
    background-color: rgba(150, 150, 141, 0.1);
  }

.pic {
    height: 60px;
    width:60px;
    border-radius:3px;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
}

#one {
    background-image:url(1.jpg);
}

#two {
    background-image:url(2.jpg);
}

#three {
    background-image:url(3.jpg);
}

#four {
    background-image:url(4.jpg);
}

#five {
    background-image:url(5.jpg);
}

.text {

    height: 60px;
    width:225px;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    margin-left: 90px;
    font-family: Helvetica;
    line-height: 1.5;

}

.small {
    font-size: 12px;
}