<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link href='/css/styles.css' rel='stylesheet' />
    <script src="main.js" defer></script>
    {{#if loginCSS}}
        <link href='/css/login.css' rel='stylesheet' />
    {{/if}}

</head>
<body>
    {{{ body }}}
</body>
</html>