<div id='main'>
    <div id='directory'>
        <br>Artist Directory</br>
        <input id='search'></input>
        <button id='add' onclick="toggleOpen()">Add</button>
        <button id='add' onclick='search()'>Search</button>
    </div>

</div>