<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <script src="main.js" defer></script>
      </head>
    <body>


        <div id='main'>
        <div id='directory'>
            <br>Artist Directory</br>
            <input id='search'></input>
            <button id='add' onclick="toggleOpen()">Add</button>
            <button id='add' onclick='search()'>Search</button>
       </div>

       <div class="form-popup" id="myForm">
        <form id="theForm" name="Form" class="form-container" method="POST" action="/add">
      
          <input name="name" type="text" placeholder="Artist Name" maxlength="40">
          <input name="about" type="text" placeholder="About Artist"  maxlength="40">
          <input name="url" type="text" placeholder="Image url">
          <button type='submit' class="btn" onclick='toggleOpen()'>Add</button>
        </form>
      </div>
        </div>
        </div>
    </body>
</html>