#directory {
    height: 100px;
    width: 400px;
    margin: auto;
    padding: 20px 30px;
    font-family: Arial;
    font-weight: normal;
    font-size:20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;

}

#main{
    margin: auto;
    width: 450px;
    padding: 10px;
}

#search{
    width:300px;
    height: 30px;
    margin: auto 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    border-radius: 3px;
    color:  rgba(0, 0, 0, 0.0);
    display: inline-block;
}

#add{
    width:70px;
    height: 30px;
    margin-left:10px;
    display: inline-block;
}


.artist {
    width:350px;
    height: 80px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    position: relative;
}

.artist:hover {
    background-color: rgba(150, 150, 141, 0.1);
  }

.pic {
    height: 60px;
    width:60px;
    border-radius:3px;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
}

#one {
    background-image:url(1.jpg);
}

#two {
    background-image:url(2.jpg);
}

#three {
    background-image:url(3.jpg);
}

#four {
    background-image:url(4.jpg);
}

#five {
    background-image:url(5.jpg);
}

.text {

    height: 60px;
    width:225px;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    margin-left: 90px;
    font-family: Helvetica;
    line-height: 1.5;

}

.small {
    font-size: 12px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }